$main-bg-color: #141b1c;
$card-bg-color: #334247;
$basic-price-order-color: #5bb189;
$business-price-order-color: #3a6ba5;
$webshop-price-order-color: #ec632a;
$text-color: #ffffff;
$price-card__option-list-bg-color: #1f3d63;
$price-card__option-list-bg-color-odd: #2a3438;
$basic-checkmark: 'https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png';
$business-checkmark: 'https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png';
$webshop-checkmark: 'https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png';